.green-background{
  background-color:$maincolor;
}
.grey-background{
  background-color:$secondcolor;
}
.black-background{
  background-color:$black;
  *{
    color:$maincolor;
  }
}

h2{
  text-align: center;
}
body h1{
  font-size:4rem !important;
  margin-bottom:12px;
  margin-top:12px;
  line-height:4.1rem;
}

body h3,body h5{
  font-size:2rem !important;
  color: $maincolor;
  text-align:center;
  font-weight:normal;
}

body h1,.subheadline{
  text-align:center;
  width:100%;
  color: $maincolor;
  *{
    color:$maincolor;
  }
}
.teaserheadline,h2{
  font-size:3.0rem;
  font-weight:bold;

}
.teaserarticle{
  margin-top:24px;
}
.articleinfo{
  margin:24px 0;
}

div[class*="ce_"]{
  padding:24px;
}

footer div[class*="ce_"]{
  padding:0;
}

.clear{
  clear:both;
}
.ce_text{
  .headline{
    color:$maincolor;
  }
}
.headline{
  font-weight:bold;
  font-size:1.2rem;
  margin:12px 0;
}
.innerwrapper{
  margin: 0 auto;
}
.outerwrapper{
  padding:24px 10%;
}
.margin-auto{
  margin:0 auto;
}

.mod_article{
  position: relative;
}
.nopadding{
  padding:0;
}
.iconlist .referenz{
  text-align: center;
  width:20%;
  img{
    margin-bottom:36px;
  }
  *{
    color:$maincolor;
    text-align: center;
    font-size:1.2rem;
  }

}
body .nopadding-topbottom{
  padding-top:0px;
  padding-bottom:0;
}
.text.right{
  padding-left:24px;
}

.text.left{
  padding-right:24px;
}