
footer {
  .inside{
    margin:0 auto;
    & > div:not(.clear)
    ,& > nav{
      width:25%;
      float:left;
    }
  }

  nav{
    ul{
      margin:0;
    }
    li{
      display:block;
    }
  }

  a{
    color:$black;
  }
  a:hover{
    color:$white;
  }



}



.social-icons{
  a{
    display:inline-block;
    width:50px;
    height:50px;
    color:$maincolor;
    background:$hovergreen;
    font-size:25px;
    line-height:50px;
    text-align:center;
    border:1px solid $hovergreen;
    font-weight:bold;
    margin-right:12px;
  }
  a:hover{
    color:$hovergreen;
    background:$maincolor;
  }


}

.referenz{
  display:inline-block;
}