form {
  &,fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }
  *{
    font-size:1.6rem;
    line-height:1.7rem;
  }
  [type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
    font-size:1.6rem;
    line-height:1.7rem;
    height:50px;
  }

  label{

  }
  p,a{
    font-size:1rem;
  }
  button{
    background-color: $maincolor !important;
    color:$black !important;
    font-size:1.2rem !important;
    font-weight:bold;
  }
}

#try-it-free .ce_text{
  padding:0 !important;
}

#option_international {
  display: none;
}
.alert-box{
  padding:12px 24px !important;
}
.alert-box *{
  font-size:1rem;
  line-height:1.1rem;
}

