.top-bar-title{
  margin: 0 !important;
}
.top-bar-section > .large-4 li{
  width:(100% / 3) !important;

}
body{
  padding-top:80px !important;
}
body .top-bar-section{
  &.contact li{
    margin-right:12px;
  }
  &.large-6{
    width:50% !important;
  }
  &.large-3{
    width:25% !important;
  }
  ul{
    width:100% !important;
    li{
      text-align: center;
      display:block;
      &.telefon a,&.telefon a *{
        font-size:2rem;
        color:$maincolor;
        font-weight: 900;
      }
      &.telefon *:hover{
        color:$black;
      }
      a,span{
        font-size:1.3rem;
        line-height:1.4rem;
        padding: 0.7rem 1rem;
      }
      a:hover,a.active{
        color:$maincolor !important;
      }
      a.button,span.button{
        background-color:$maincolor;font-size:1.3rem;top:0px;border:1px solid $maincolor;
      }
      .button.active{
        background:none;
      }
      .button:hover{
        background:none;
      }
      .button.active:hover{
        background-color:$maincolor;color:$white;
      }


    }
  }
}
body .top-bar{
  z-index:1004;
  height:80px;
  top:0;
  padding:15px;
  margin-bottom:0px;
  background-color:$white;
  li, li a:not(.button),li a:not(.button),ul,li a.active:not(.button){
    background:none !important;
  }
  .top-bar-section{
    *,li, li a,li.active a{
      color:$black;
    }
  }

}

nav.top-bar{
position:fixed;
  border-bottom:1px solid #ccc;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}
