.progress{
  padding:0 !important;
  height:2rem !important;
  line-height:2rem;

  border:1px solid $secondcolor;
  *{
    color:$white !important;
    text-align: center;
    font-size:1.05rem !important;
    line-height:1.06rem !important;
  }
  .progress-meter{
    background-color: $secondcolor ;
    text-align: center;
  }
}