.slide{
  min-height:600px;
  position: relative;
  overflow:hidden;
  .button{
    margin:0 auto;
    color:$white;
    background-color:$orange;


  }
  .slider-main-image-background{
    height:400px;
    text-align: center;
    padding-top:15%;
    background-size:100% auto !important;
    background-repeat:no-repeat;
  }

  .ipadborder {
    background-image: url(/public/images/png/GRAFIK-01.png); /* Safari 3.1-5 */
    background-repeat: no-repeat;
    background-size: 100% auto;
    left: 25%;
    padding: 2.5% 5% 0;
    position: absolute;
    bottom: 0px;

  }
  .slider-text{
    text-align: center;
    .headline{
      margin-top:24px;
      font-size:2.0rem;
    }
    *{
      font-size:1.2rem;
      color:$white;
    }
  }
  .cityleft{
    background-image: url(/public/images/png/GRAFIK-02.png); /* Safari 3.1-5 */
    background-repeat: no-repeat;
    background-size: 100% auto;
    width:221px;
    height:281px;
    display:block;
    position: absolute;
    left:-209px;
    bottom:-10px;
  }
  .cityright{
    background-image: url(/public/images/png/GRAFIK-03.png); /* Safari 3.1-5 */
    background-repeat: no-repeat;
    background-size: 100% auto;
    width:221px;
    height:281px;
    display:block;
    position: absolute;
    right:-209px;
    bottom:-10px;
  }
}